nav{
  width: 100%;
  /*background: #333;*/
  color: #fff;
  padding : 4px 0;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: centre;
  justify-content: space-between;
  z-index: 10;

}
.logo{
  width:180px;

}
nav ul li{
  display: inline-block;
  list-style:none;
  margin: 5px 20px;
  font-size: 16px;
  
}
.dark-nav{
  background: #212ea0;
  transition: 0.5 ;
} 