.testimonials{
  margin:80px auto;
  padding: 0 80px;
  position: relative;



}

.next-btn .back-btn{
  position: absolute;
  top: 50%;
  right:0;
  transform: translateY(-50%);
  padding:15px;
  border-radius: 50%;
  cursor: pointer;
  background: #212ea0;
}