
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{

  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #f5f5f5
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer; 

}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background-color: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor:pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;



}
.btn img{
  width: 20px;
  margin-left:10px;

}
.btn.dark-btn{
  background: blue;
  color:#fff;
}